<div [formGroup]="retailForm">
  <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h6>RETAIL FORM</h6>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content fxLayout="row wrap"
                        fxLayoutAlign="center center">
        <mat-form-field fxFlex="1 1 100%">
          <mat-select placeholder="Contract"
                      formControlName="contract">
            <mat-option *ngFor="let contract of contracts"
                        [value]="contract">
              {{ contract.Name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="retailForm.get('contract').touched && retailForm.get('contract').invalid">
            Please select a Contract from the list.
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="1 1 100%">
          <input matInput
                formControlName="client"
                [matAutocomplete]="clientAuto"
                type="text"
                placeholder="Client">

          <mat-error>
            Please select a Client from the list.
          </mat-error>
        </mat-form-field>

        <mat-autocomplete #clientAuto="matAutocomplete"
                          [displayWith]="displayClientFn"
                          autoActiveFirstOption>
          <mat-option *ngFor="let client of clients"
                      [value]="client">
            {{ client.FirstName + ' ' + client.LastName }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field fxFlex="1 1 100%">
          <input matInput
                 formControlName="PromotionCode"
                 type="text"
                 placeholder="Promotion Code">
        </mat-form-field>

        <div fxFlex="1 1 100%"
             fxLayoutAlign="start center">
          <mat-checkbox formControlName="SendEmail">
            Send Email
          </mat-checkbox>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button
                color="primary"
                [disabled]="retailForm.invalid"
                (click)="sellContract(retailForm.get('contract').value, retailForm.get('client').value)">
          Sell Contract
        </button>
      </mat-card-actions>
  </mat-card>
</div>
