<div [formGroup]="retailForm">
  <mat-card>
      <mat-card-content fxLayout="row wrap"
                        fxLayoutAlign="center center">
        <mat-form-field fxFlex="1 1 100%">
          <mat-icon matPrefix>search</mat-icon>

          <input matInput
                formControlName="client"
                [matAutocomplete]="clientAuto"
                type="text"
                placeholder="Client">

          <mat-error *ngIf="retailForm.get('client').hasError('clientError')">
            This client doesn't have an ID associated.
          </mat-error>

          <mat-error *ngIf="retailForm.get('client').hasError('clientCreditCardError')">
            This client doesn't have a credit card associated, please add one to purchase a contract.
          </mat-error>
        </mat-form-field>

        <mat-autocomplete #clientAuto="matAutocomplete"
                          [displayWith]="displayClientFn"
                          autoActiveFirstOption
                          (optionSelected)="setSelectableClientContracts($event.option.value)">
          <mat-option *ngFor="let client of clients"
                      [value]="client">
            {{ client.FirstName + ' ' + client.LastName }}
          </mat-option>
        </mat-autocomplete>

        <mat-form-field fxFlex="1 1 100%">
          <mat-icon matPrefix>insert_drive_file</mat-icon>

          <mat-select placeholder="Contract"
                      formControlName="contract">
            <mat-option *ngFor="let contract of clientContracts"
                        [value]="contract">
              {{ contract.Name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="retailForm.get('contract').touched && retailForm.get('contract').invalid">
            Please select a Contract from the list.
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="1 1 100%">
          <input matInput
                readonly
                [matDatepicker]="picker"
                [matDatepickerFilter]="dateFilter"
                formControlName="contractStart"
                (click)="picker.open();"
                placeholder="Contract Start Date"
                automcomplete="off">

          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>

          <mat-datepicker #picker></mat-datepicker>

          <mat-error *ngIf="retailForm.get('contractStart').touched && retailForm.get('contractStart').invalid">
            Please insert a correct contract start date
          </mat-error>
        </mat-form-field>

        <div fxFlex="1 1 100%"
              fxLayoutAlign="start center">
          <mat-checkbox formControlName="instantPayment">
            Pay Now
          </mat-checkbox>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button
                color="primary"
                [disabled]="retailForm.invalid"
                (click)="sellContract(retailForm.get('contract').value, retailForm.get('client').value, retailForm.get('instantPayment').value, retailForm.get('contractStart').value)">
          Sell Contract
        </button>
      </mat-card-actions>
  </mat-card>
</div>
