.main_container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 160rem;
}

/* MATERIAL */
.mat-tab-nav-bar {
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}

.mat-icon {
  margin-right: 1rem;
}

.mat-ink-bar {
  height: 0.6rem;
}

a.mat-tab-label-active {
  opacity: 1;
}
