<div class="main_container"
     style="max-width: 110rem;">
  <app-header></app-header>

  <nav mat-tab-nav-bar
       backgroundColor="primary">
    <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.path"
      routerLinkActive
      [routerLinkActiveOptions]="{exact:true}"
      #rla="routerLinkActive"
      [active]="rla.isActive">
      <mat-icon class="tab-icon">
        {{ link.icon }}
      </mat-icon>

      <p>
        {{link.label | uppercase}}
      </p>
    </a>
  </nav>

  <div class="content-outlet">
    <router-outlet></router-outlet>
  </div>
</div>

