<div class="main_container">
  <div class="table_container">
    <mat-card>
      <div [formGroup]="filterForm"
            fxLayout="row wrap"
            fxLayoutAlign="space-between center"
            fxLayoutGap="2rem"
            class="filter_form">
        <div class="search_input"
              fxFlex="1 1 auto">
          <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>

            <input matInput
                    formControlName="client"
                    [matAutocomplete]="auto"
                    type="text"
                    placeholder="Client">
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete"
                            [displayWith]="clientAutocompleteDisplayFunction">
            <mat-option *ngFor="let client of searchResults"
                        [value]="client">
              {{ client.FirstName + ' ' + client.LastName }} ( {{ client.Email }} )
            </mat-option>
          </mat-autocomplete>
        </div>

        <mat-form-field fxFlex="1 1 auto">
          <mat-icon matPrefix>insert_drive_file</mat-icon>

          <mat-select placeholder="Contract"
                      formControlName="contract">
            <mat-option *ngFor="let contract of contracts"
                        [value]="contract">
              {{ contract.Name }}
            </mat-option>

            <mat-option [value]="null"> All </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="1 1 auto">
          <input matInput
                [matDatepicker]="pickerFrom"
                formControlName="dateFrom"
                (click)="pickerFrom.open();"
                autocomplete="off"
                placeholder="Date from">
          <mat-datepicker-toggle matPrefix [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="1 1 auto">
          <input matInput
                [matDatepicker]="pickerTo"
                formControlName="dateTo"
                (click)="pickerTo.open();"
                autocomplete="off"
                placeholder="Date to">
          <mat-datepicker-toggle matPrefix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="1 1 25rem">
          <mat-icon matPrefix>timelapse</mat-icon>

          <mat-label>Status</mat-label>

          <mat-select formControlName="status"
                      placeholder="status">
            <mat-option *ngFor="let status of orderStatuses"
                        [value]="status.value">
              {{ status.label }}
            </mat-option>

            <mat-option [value]="null"> All </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxFlex="1 1 auto"
              fxLayout="row wrap"
              fxLayoutAlign="end center"
              fxLayoutGap="2rem">
          <!-- TEST FUNCTIONALITY -->
          <button mat-raised-button
                  *ngIf="testEnvironment"
                  color="accent"
                  (click)="triggerBillingCycle();"
                  fxFlex="0 0 auto">
            TRIGGER BILLING CYCLE
          </button>

          <button mat-button
                  color="primary"
                  (click)="filterForm.reset();"
                  [disabled]="filterForm.pristine"
                  fxFlex="0 0 auto">
            Reset Filter
          </button>

          <button mat-raised-button
                  color="primary"
                  (click)="setTablePage(null, 0, this.paginatorPageSize);"
                  fxFlex="0 0 20rem">
            FILTER
          </button>
        </div>
      </div>

      <mat-card-content>
        <mat-table [dataSource]="dataSource"
                  [trackBy]="trackBy"
                  #table
                  @fade>
          <mat-header-row class="table-header"
                          *matHeaderRowDef="columns"
                          fxLayoutAlign="space-between center"
                          color="primary"
                          @fade>
          </mat-header-row>

          <mat-row *matRowDef="let order; columns: columns; let index = index"
                   (click)="openOrderDetailDialog(order);"
                   fxLayoutAlign="space-between center">
          </mat-row>

          <ng-container matColumnDef="Date">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="1 1 15%">DATE</mat-header-cell>
            <mat-cell *matCellDef="let order" fxLayoutAlign="center center" [matTooltip]="order?.date_created | date:'medium'" fxFlex="1 1 15%">{{ order.date_created | date:'M/d/yyyy' }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Client">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="1 1 15%">CLIENT</mat-header-cell>
            <mat-cell *matCellDef="let order" fxLayoutAlign="center center" fxFlex="1 1 15%">{{ order.client_id }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Contract">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="1 1 35%">CONTRACT</mat-header-cell>
            <mat-cell *matCellDef="let order" fxLayoutAlign="center center" fxFlex="1 1 35%">{{ getContractData(order.contract_id)?.Name }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Total">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="1 1 15%">TOTAL</mat-header-cell>
            <mat-cell *matCellDef="let order" fxLayoutAlign="center center" fxFlex="1 1 15%">{{ order?.payment_attempts[order?.payment_attempts?.length - 1]?.transaction_amount }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="Delivered">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="1 1 10%">DELIVERED</mat-header-cell>
            <mat-cell *matCellDef="let order" fxLayoutAlign="center center" fxFlex="1 1 10%">
              <mat-icon *ngIf="order.delivered">done</mat-icon>
              <mat-icon *ngIf="!order.delivered">clear</mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Status">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center" fxFlex="1 1 10%">STATUS</mat-header-cell>
            <mat-cell *matCellDef="let order" fxLayoutAlign="center center" fxFlex="1 1 10%">
              <mat-icon *ngIf="order.payment_status === 'approved'"
                        [ngStyle]="{'color':'green'}"
                        [matTooltip]="order.payment_status + ': ' + order.payment_status_detail">
                radio_button_checked
              </mat-icon>

              <mat-icon *ngIf="order.payment_status === 'in_process'"
                        [ngStyle]="{'color':'orange'}"
                        [matTooltip]="order.payment_status + ': ' + order.payment_status_detail">
                timelapse
              </mat-icon>

              <mat-icon *ngIf="order.payment_status === 'rejected' || order.payment_status === 'error'"
                        [ngStyle]="{'color':'red'}"
                        [matTooltip]="order.payment_status + ': ' + order.payment_status_detail">
                radio_button_unchecked
              </mat-icon>

              <mat-icon *ngIf="order.payment_status === 'canceled'"
                        [ngStyle]="{'color':'red'}"
                        [matTooltip]="order.payment_status + ': ' + order.payment_status_detail + '. Too much retries.'">
                radio_button_checked
              </mat-icon>

              <mat-icon *ngIf="order.payment_status === 'error'"
                        [ngStyle]="{'color':'red'}"
                        [matTooltip]="order.payment_status + ': ' + order.payment_status_detail">
                radio_button_checked
              </mat-icon>

              <mat-icon *ngIf="order.payment_status === 'refunded'"
                        [ngStyle]="{'color':'yellow'}"
                        [matTooltip]="order.payment_status">
                radio_button_checked
              </mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header fxLayoutAlign="center center"></mat-header-cell>
            <mat-cell *matCellDef="let order" fxLayoutAlign="center center"
                      fxLayoutAlign="end center">
              <button mat-icon-button
                      *ngIf="(user$ | async)?.Type === 'Owner'"
                      matTooltip="Refund this order"
                      (click)="refundOrder(order);"
                      [disabled]="order.payment_status !== 'approved'"
                      color="primary"
                      aria-label="refund order">
                <mat-icon>replay</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
        </mat-table>

        <div class="table-message"
              *ngIf="!orders?.length">
          {{ 'Sorry, no results' }}
        </div>

        <div class="table-footer"
            fxLayout="row"
            fxLayoutAlign="end end">
          <mat-paginator [pageSize]="paginatorPageSize"
                          [pageSizeOptions]="paginatorPageSizeOptions"
                          [showFirstLastButtons]="false"
                          [length]="paginatorLength"
                          [disabled]="paginatorDisabled"
                          (page)="paginatorChange(orders, $event);">
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!-- ORDER DETAILS DIALOG -->
<ng-template #orderDialogTemplate>
  <div mat-dialog-title>
    <h5>
      ORDER <span>{{ selectedOrder.id}}</span>
    </h5>
  </div>

  <div class="order_dialog">
    <mat-dialog-content>
      <h6 class="order_dialog__title">
        PAYMENT ATTEMPTS
      </h6>

      <button mat-fab
              color="primary"
              (click)="dialogRef.close()"
              class="order_dialog__close_button">
        <mat-icon>close</mat-icon>
      </button>

      <div class="order_dialog__list">
        <div class="order_dialog__list_header"
             fxLayout>
          <div fxFlex="1 1 10%">ID</div>
          <div fxFlex="1 1 10%">DATE</div>
          <div fxFlex="1 1 12%">CARD</div>
          <div fxFlex="1 1 18%">CARD HOLDER</div>
          <div fxFlex="1 1 10%">FEE</div>
          <div fxFlex="1 1 10%">TAXES</div>
          <div fxFlex="1 1 10%">TOTAL</div>
          <div fxFlex="1 1 10%">NET</div>
          <div fxFlex="1 1 10%">STATUS</div>
        </div>

        <mat-list dense>
          <mat-list-item *ngFor="let paymentAttempt of selectedOrder.payment_attempts">
            <div *ngIf="paymentAttempt?.id"
                 class="order_dialog__payment_attempts"
                 fxLayout>
              <div fxFlex="1 1 10%">
                {{ paymentAttempt?.id || 'error'}}
              </div>

              <div fxFlex="1 1 10%" [matTooltip]="paymentAttempt?.date_created | date:'medium'">
                {{ paymentAttempt?.date_created | date:'M/d/yy' }}
              </div>

              <div fxFlex="1 1 12%">
                {{ paymentAttempt?.payment_method_id | uppercase }} ...{{ paymentAttempt?.card?.last_four_digits }}
              </div>

              <div fxFlex="1 1 18%">
                {{ paymentAttempt?.payer?.first_name }} {{ paymentAttempt?.payer?.last_name }}
              </div>

              <div fxFlex="1 1 10%">
                {{ paymentAttempt?.fee_details[0]?.amount }}
              </div>

              <div fxFlex="1 1 10%">
                {{ paymentAttempt?.taxes_amount }}
              </div>

              <div fxFlex="1 1 10%">
                {{ paymentAttempt?.transaction_details?.total_paid_amount }}
              </div>

              <div fxFlex="1 1 10%">
                {{ paymentAttempt?.transaction_details?.net_received_amount }}
              </div>

              <div fxFlex="1 1 10%">
                <mat-icon *ngIf="paymentAttempt.status === 'approved'"
                        [ngStyle]="{'color':'green'}"
                        [matTooltip]="paymentAttempt.status + ': ' + paymentAttempt.status_detail">
                radio_button_checked
                </mat-icon>

                <mat-icon *ngIf="paymentAttempt.status === 'pending'"
                          [ngStyle]="{'color':'orange'}"
                          [matTooltip]="paymentAttempt.status + ': ' + paymentAttempt.status_detail">
                  timelapse
                </mat-icon>

                <mat-icon *ngIf="paymentAttempt.status === 'rejected' || paymentAttempt.status === 'error'"
                          [ngStyle]="{'color':'red'}"
                          [matTooltip]="paymentAttempt.status + ': ' + paymentAttempt.status_detail">
                  radio_button_unchecked
                </mat-icon>

                <mat-icon *ngIf="paymentAttempt.status === 'canceled'"
                          [ngStyle]="{'color':'red'}"
                          [matTooltip]="paymentAttempt.status + ': ' + paymentAttempt.status_detail + '. Too much retries.'">
                  radio_button_checked
                </mat-icon>
              </div>
            </div>

            <div *ngIf="!paymentAttempt?.id">Error on the server: {{ paymentAttempt?.error }} </div>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions>

    </mat-dialog-actions>
  </div>
</ng-template>
