@import '../../../../../variables';


mat-radio-group {
  height: 100%;
}

:host ::ng-deep {
  mat-row {
    cursor: pointer;
  }
}

.profile_image {
  height: 3rem;
  width: 3rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.row {
  height: 6.5rem;
}

mat-radio-group {
  height: 60% !important;
}

mat-expansion-panel {
  margin: 1rem 0rem 1rem 0rem;
}

.table_container mat-icon {
  font-size: 1.8rem !important;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
  vertical-align: sub;
  color: $lighter-grey;
}

label {
  color: $lighter-grey;
}

