<div class="main_container">
  <div class="table_container">
    <mat-card>
      <mat-card-header fxLayoutAlign="end center">
        <button mat-raised-button
                (click)="openClientFormDialog()"
                fxFlex="0 0 auto"
                color="primary"
                type="button">
          <mat-icon>add_circle_outline</mat-icon>
          Add Client
        </button>
      </mat-card-header>

      <mat-card-content>
        <div class="search_input"
             fxLayout>
          <mat-form-field fxFlex="1 1 auto">
            <input matInput
                   [formControl]="searchInput"
                   [matAutocomplete]="auto"
                   type="text"
                   placeholder="Search">
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete"
                            (optionSelected)="searchOptionSelected($event.option.value)">
            <mat-option *ngFor="let client of searchResults"
                        [value]="client">
              {{ client.FirstName + ' ' + client.LastName }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <mat-table [dataSource]="dataSource"
                  [trackBy]="trackBy"
                  #table
                  @fade>
          <mat-header-row class="table-header"
                          *matHeaderRowDef="columns"
                          color="primary"
                          @fade>
          </mat-header-row>

          <mat-row *matRowDef="let item; columns: columns; let index = index"
                  [ngClass]="{'highlight': index%2 == 1}"
                  (click)="openClientFormDialog(item);">
          </mat-row>

          <ng-container matColumnDef="PhotoUrl">
            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
            <mat-cell *matCellDef="let item">
              <div class="profile_image"
                  [ngStyle]="{ 'background-image': 'url(' + (item.PhotoUrl || '/assets/images/user_profile_icon.svg') + ')',
                            'background-size': 'cover' }">
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="FirstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>FIRST NAME</mat-header-cell>
            <mat-cell *matCellDef="let item">{{ item.FirstName }}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="LastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header>LAST NAME</mat-header-cell>
            <mat-cell *matCellDef="let item">{{ item.LastName }}</mat-cell>
          </ng-container>
        </mat-table>

        <div class="table-message"
              *ngIf="!clients?.length">
          {{ 'Sorry, no results' }}
        </div>

        <div class="table-footer"
            fxLayout="row"
            fxLayoutAlign="end end">
          <mat-paginator [pageSize]="paginatorPageSize"
                         [pageSizeOptions]="paginatorPageSizeOptions"
                         [length]="paginatorLength"
                         [disabled]="paginatorDisabled"
                         (page)="paginatorChange(clients, $event);"
                         showFirstLastButtons="true">
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<!-- CLIENT FORM DIALOG TEMPLATE (OPENED ON THE DIALOG) -->
<ng-template #clientTemplate>
  <h4 mat-dialog-title>
    {{
      clientBeingEdited ?
        'EDITING CLIENT: (' + clientBeingEdited.FirstName + ' ' + clientBeingEdited.LastName + ')':
        'ADD CLIENT'
    }}
  </h4>

  <mat-dialog-content class="client_form">
    <form [formGroup]="clientForm"
          novalidate
          autocomplete="false"
          fxLayout="row wrap"
          fxLayoutAlign="center center">
      <mat-form-field fxFlex="1 1 100%">
        <input type="text"
                placeholder="FirstName *"
                matInput
                formControlName="FirstName"
                automcomplete="off">

        <mat-error *ngIf="clientForm.get('FirstName').touched && clientForm.get('FirstName').invalid">
          Please insert the FirstName
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="1 1 100%">
        <input type="text"
                placeholder="LastName *"
                matInput
                formControlName="LastName"
                automcomplete="off">

        <mat-error *ngIf="clientForm.get('LastName').touched && clientForm.get('LastName').invalid">
          Please insert the LastName
        </mat-error>
      </mat-form-field>

      <div fxFlex="1 1 100%"
           class="row">
        <label>Gender: </label>

        <mat-radio-group formControlName="Gender"
                         fxLayoutAlign="start center">
          <mat-radio-button value="Male"
                            fxFlex="0 0 8rem">
            Male
          </mat-radio-button>
          <mat-radio-button value="Female"
                            fxFlex="0 0 8rem">
            Female
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field fxFlex="1 1 100%">
        <input matInput
              [matDatepicker]="picker"
              formControlName="BirthDate"
              placeholder="Birth Date *"
              automcomplete="off">

        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>

        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="clientForm.get('Email').touched && clientForm.get('Email').invalid">
          Please insert a Birth Date
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="1 1 100%">
        <input type="text"
                placeholder="Email *"
                matInput
                formControlName="Email"
                automcomplete="off">

        <mat-icon matPrefix>email</mat-icon>

        <mat-error *ngIf="clientForm.get('Email').touched && clientForm.get('Email').invalid">
          Please insert a correct Email
        </mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="1 1 100%">
        <input type="number"
                placeholder="MobilePhone"
                matInput
                formControlName="MobilePhone"
                automcomplete="off">

        <mat-icon matPrefix>phone_android</mat-icon>

        <mat-error *ngIf="clientForm.get('MobilePhone').touched && clientForm.get('MobilePhone').invalid">
          Please insert the MobilePhone
        </mat-error>
      </mat-form-field>

      <mat-expansion-panel fxFlex="1 1 100%"
                           formGroupName="ClientCreditCard"
                           class="credit_card">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>credit_card</mat-icon>
            Credit Card
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap"
             fxLayoutAlign="space-between center">
          <mat-form-field fxFlex="1 1 100%">
            <input [type]="clientForm.get('ClientCreditCard.CardNumber').disabled ? 'text' : 'number'"
                    placeholder="Card Number"
                    matInput
                    formControlName="CardNumber"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('ClientCreditCard.CardNumber').touched &&
                              clientForm.get('ClientCreditCard.CardNumber').invalid">
              Please insert a valid Card Number
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="1 1 30%">
            <input type="number"
                    placeholder="Expiration Month"
                    matInput
                    formControlName="ExpMonth"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('ClientCreditCard.ExpMonth').touched &&
                              clientForm.get('ClientCreditCard.ExpMonth').invalid">
              Please insert a valid Expiration Month
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="1 1 30%">
            <input type="number"
                    placeholder="Expiration Year"
                    matInput
                    formControlName="ExpYear"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('ClientCreditCard.ExpYear').touched &&
                              clientForm.get('ClientCreditCard.ExpYear').invalid">
              Please insert a valid Expiration Year
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="1 1 30%">
            <input [type]="clientForm.get('ClientCreditCard.CVV').disabled ? 'text' : 'number'"
                    placeholder="CVV"
                    matInput
                    formControlName="CVV"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('ClientCreditCard.CVV').touched &&
                              clientForm.get('ClientCreditCard.CVV').invalid">
              Please insert a valid CVV
            </mat-error>
          </mat-form-field>

          <div fxFlex="1 1 100%"
               fxLayoutAlign="end center">
            <button fxFlex="1 1 25rem"
                    mat-raised-button
                    color="warn"
                    type="button"
                    (click)="resetCreditCard();">
              <mat-icon>delete</mat-icon>
              Remove Credit Card
            </button>
          </div>

        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>location_on</mat-icon>
            Address
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row wrap">
          <mat-form-field fxFlex="1 1 100%">
            <input type="text"
                    placeholder="AddressLine1"
                    matInput
                    formControlName="AddressLine1"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('AddressLine1').touched && clientForm.get('AddressLine1').invalid">
              Please insert the AddressLine1
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="1 1 100%">
            <input type="text"
                    placeholder="AddressLine2"
                    matInput
                    formControlName="AddressLine2"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('AddressLine2').touched && clientForm.get('AddressLine2').invalid">
              Please insert the AddressLine2
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="1 1 100%">
            <input type="text"
                    placeholder="City"
                    matInput
                    formControlName="City"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('City').touched && clientForm.get('City').invalid">
              Please insert the City
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="1 1 100%">
            <input type="text"
                    placeholder="PostalCode"
                    matInput
                    formControlName="PostalCode"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('PostalCode').touched && clientForm.get('PostalCode').invalid">
              Please insert the Postal Code
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex="1 1 100%">
            <input type="text"
                    placeholder="Country"
                    matInput
                    formControlName="Country"
                    automcomplete="off">

            <mat-error *ngIf="clientForm.get('Country').touched && clientForm.get('Country').invalid">
              Please insert the Country
            </mat-error>
          </mat-form-field>
        </div>
      </mat-expansion-panel>

      <div fxFlex="1 1 100%"
           class="row" style="margin-top: 1rem;">
        <label>Is Prospect: </label>

        <mat-radio-group formControlName="IsProspect"
                         fxLayoutAlign="start center"
                         automcomplete="off">
          <mat-radio-button [value]="true"
                             fxFlex="0 0 8rem">
            Yes
          </mat-radio-button>
          <mat-radio-button [value]="false"
                            fxFlex="0 0 8rem">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxFlex="1 1 100%"
           class="row">
        <label>Send Schedule Emails: </label>

        <mat-radio-group formControlName="SendScheduleEmails"
                         fxLayoutAlign="start center"
                         automcomplete="off">
          <mat-radio-button [value]="true"
                             fxFlex="0 0 8rem">
            Yes
          </mat-radio-button>
          <mat-radio-button [value]="false"
                            fxFlex="0 0 8rem">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxFlex="1 1 100%"
           class="row">
        <label>Send Account Emails:</label>

        <mat-radio-group formControlName="SendAccountEmails"
                         fxLayoutAlign="start center"
                         automcomplete="off">
          <mat-radio-button [value]="true"
                             fxFlex="0 0 8rem">
            Yes
          </mat-radio-button>
          <mat-radio-button [value]="false"
                            fxFlex="0 0 8rem">
            No
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button
            [disabled]="clientForm.invalid || !clientFormChanged"
            (click)="saveClient(clientForm.value)"
            color="primary">
      <mat-icon>save</mat-icon>
      SAVE
    </button>
    <button mat-raised-button
            mat-dialog-close>
      <mat-icon>close</mat-icon>
      CLOSE
    </button>
  </mat-dialog-actions>
</ng-template>

