@import '../../../../../variables';

.contract-card {
  margin-bottom: 2rem;
}

.iframe_container {
  background-color: $background-grey;
}

.step1 {
  padding-top: 2rem;
}

.step1_header {
  border-radius: 0.4rem;
  background-color: $background-grey;
  overflow: hidden;
  padding-right: 1rem;

  &_image {
    height: 7.2rem;
  }

  &_name {
    p {
      margin: 0;
    }
  }

  &_tags {
    color: $primary;

    mat-icon {
      color: $primary;
    }
  }
}

.selected_contract {
  // border: 0.3rem solid $primary;
  box-shadow: 0px 0px 1px 4px $primary, 0 8px 0px 0px $primary, 0 0px 0px 0 $primary
}

// Material overwrites
mat-card-subtitle mat-icon, .step1_header_tags mat-icon {
  height: 1.8rem;
  width: 1.8rem;
  margin-right: 0.4rem;
}

mat-card-subtitle .material-icons, .step1_header_tags .material-icons {
  font-size: 18px;
}

:host ::ng-deep .mat-step-label {
  width: 100% !important;
}

