<div fxLayout="row wrap"
     fxLayoutAlign="center center"
     style="height: 100vh;"
     @fade>
  <mat-card class="login"
            (mouseenter)="loginMouseEnter = true;"
            (mouseleave)="loginMouseEnter = false;"
            fxFlex="0 0 60rem">
    <div class="login-header"
         fxLayout="column"
         fxLayoutAlign="center center">
      <h2>APP</h2>
    </div>

    <app-login-widget (loggedIn)="redirectToRoot()"
                      @fade>
    </app-login-widget>
  </mat-card>

  <p fxFlex="0 0 100%"
     fxLayoutAlign="center center">
    <i>
      <a routerLink="/signup">Don't you have an account yet? Signup here</a>
    </i>
  </p>
</div>
