<div class="background"
    [ngStyle]="{
      'background-image': 'url(' + 'backgroundImage' + ')',
      'background-size': 'cover',
      'background-position': 'center',
      'filter': loginMouseEnter ? 'blur(4px)' : null
    }"
    @fade>
</div>

<div fxLayout
     fxLayoutAlign="center center"
     style="height: 100vh;"
     @fade>
  <mat-card class="login"
            (mouseenter)="loginMouseEnter = true;"
            (mouseleave)="loginMouseEnter = false;"
            fxFlex="0 0 38rem">
    <div class="login-header" fxLayout="column" fxLayoutAlign="center center">
      <h2>APP</h2>
    </div>

    <app-login-widget (loggedIn)="redirectToRoot()"
                      @fade>
    </app-login-widget>
  </mat-card>
</div>
