// Import material theming functions
@import '~@angular/material/theming';

$app-primary: mat-palette($mat-indigo);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);

$white: white;
$disabled-grey: rgba(0,0,0,.26);
$lighter-grey: rgba(0,0,0,.54);
$light-grey: rgba(0,0,0,.12);
$dark-grey: #242323;
$darker-grey: #0d0d0d;

$light-orange: #f5af19;
$dark-orange: #f12711;

$light-pink: #f953c6;
$dark-pink: #b91d73;

$light-blue: #36d1dc;
$dark-blue: #5b86e5;

$light-green: #a8e063;
$dark-green: #56ab2f;
