@import './variables';
/* You can add global styles to this file, and also import other style files */

:root {
  --white: white;
  --background-grey: whitesmoke;
  --disabled-grey: rgba(0, 0, 0, .26);
  --lighter-grey: rgba(0, 0, 0, .54);
  --light-grey: rgba(0, 0, 0, .12);
  --dark-grey: #242323;
  --darker-grey: #0d0d0d;
  --primary: $primary;
  --accent: $accent;
  --warn: $warn;
  --box-background: var(--white);
  --box-padding: 2rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-image: linear-gradient(45deg, #cccccc 0%, #e4efe9 100%);
}

html {
  // This defines what a rem is
  margin: 0;
  font-size: 62.5%;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p, .mat-form-field , span, label {
  font-size: 1.6rem !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
  background-color: green;
  color: white;
  text-transform: uppercase;
}

.error {
  background-color: red;
  color: white;
  text-transform: uppercase;
}

/* MATERIAL OVERWRITES */
.mbDialog {
  max-width: 60rem !important;
}

.mbDialogFull {
  width: 85vw;
}

.mat-list-item-content {
  width: 100% !important;
  padding: 0px !important;
}

.mat-list-item {
  border-bottom: 1px solid var(--light-grey);
  color: var(--lighter-grey) !important;
}

.mat-dialog-title {
  margin: -2.4rem -2.4rem 1rem -2.4rem !important;
  padding: 1.5rem;
  background-color: var(--primary);
  color: var(--white);

  h5 {
    margin: 0rem;
  }
}

// MATERIAL OVERWRITES
.mat-simple-snackbar-action {
  color: #ffffff78;
}

.mat-card-footer {
  margin: 0 !important;
}

.mat-form-field-suffix .mat-icon-button,
.mat-form-field-suffix .mat-icon {
  height: 40px !important;
  width: 40px !important;
  font-size: 24px !important;
}



