@import './variables';
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

html {
  // This defines what a rem is
  margin: 0;
  font-size: 62.5%;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p, .mat-form-field , span, label {
  font-size: 1.6rem !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
  background-color: green;
  color: white;
  text-transform: uppercase;
}

.error {
  background-color: red;
  color: white;
  text-transform: uppercase;
}

/* MATERIAL OVERWRITES */
.mbDialog {
  max-width: 60rem !important;
}

.mbDialogFull {
  width: 85vw;
}

.mat-list-item-content {
  width: 100% !important;
  padding: 0px !important;
}

.mat-list-item {
  border-bottom: 1px solid $light-grey;
}
