@import './variables';
/* You can add global styles to this file, and also import other style files */

:root {
  /* Colors */
  --white: white;
  --background-grey: whitesmoke;
  --disabled-grey: rgba(0, 0, 0, .26);
  --lighter-grey: rgba(0, 0, 0, .54);
  --light-grey: rgba(0, 0, 0, .12);
  --dark-grey: #242323;
  --darker-grey: #0d0d0d;
  --primary: $primary;
  --accent: $accent;
  --warn: $warn;
  --box-background: var(--white);
  /* Layout */
  --box-padding: 2rem;
  --box-margin: 2rem;
  --app-max-width: 160rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-image: linear-gradient(45deg, #cccccc 0%, #e4efe9 100%);
}

html {
  // This defines what a rem is
  margin: 0;
  font-size: 62.5%;
}

h1 {
  font-size: 4.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

p, .mat-form-field , span, label {
  font-size: 1.6rem !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.success {
  background-color: rgb(123, 180, 101);
  color: white;
  text-transform: uppercase;
}

.error {
  background-color: rgb(195, 133, 133);
  color: white;
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

/* MATERIAL OVERWRITES */
.mat-dialog-container {
  min-width: 35rem;
  max-width: 60rem !important;

  .mat-list-item {
    border-bottom: 0.1rem solid var(--light-grey);
  }
}

.mat-form-field-suffix .mat-icon-button,
.mat-form-field-suffix .mat-icon {
  height: 4rem !important;
  width: 4rem !important;
  font-size: 2.4rem !important;
}

.mat-dialog-title {
  text-transform: uppercase;
}

.mat-dialog-content {
  margin-bottom: var(--box-margin) !important;
}

.mat-dialog-actions {
  margin: 0 !important;
}



